{% extends "base.html" %}

{% block title %}
Редагування профілю | Lifecell Portal
{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-md-7">

            <div class="card shadow">

                <div class="card-body p-4">

                    <h2 class="mb-4">
                        Редагування профілю
                    </h2>

                    <form
                        method="post"
                        enctype="multipart/form-data"
                    >

                        {% csrf_token %}

                        {{ form.as_p }}

                        <div class="mt-4">

                            <button
                                type="submit"
                                class="btn btn-primary"
                            >
                                Зберегти зміни
                            </button>

                            <a
                                href="{% url 'accounts:profile' %}"
                                class="btn btn-secondary"
                            >
                                Скасувати
                            </a>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}